body{
    font-family:Arial;
    background:#1e3c72;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:25px;
    border-radius:10px;
    width:400px;
}

.search-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:8px;
}

button{
    padding:8px 12px;
    cursor:pointer;
}

img{
    width:100px;
    border-radius:50%;
}

.error{
    color:red;
}
